.ProfilePage {
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: 0px;
    position: relative;
    &::-webkit-scrollbar {
        display: none;
    }
    .ProfileTitle {
        width: fit-content;
        text-align: center;
        color: $lastColor;
        display: flex;
        margin: 0 auto;
        margin-top: .5em;
        padding: .5em 1em;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        background-color: $sColor;
        svg{
            margin-right: .2em;
            font-size: 1.1em;
        }
    }
    .switchBtn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        & > #subBtn {
            background-color: transparent;
            border: 3px solid $sColor;
            color: $sColor;
            transition: background-color .3s ease   ;
            &:hover{
                background-color: $sColor;
                color: $mainColor;
            }
        }
        button{
            outline: none;
            border: none;
            background-color: $sColor;
            color: $lastColor;
            font-size: 1em;
            padding: .5em 1em;
            border: 3px solid $sColor;
            margin: .5em .5em;
            border-radius: 50px;
            cursor: pointer;
            width: 200px;
        }
    }
    .profileInfoHolder{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .iconHolderInsideProfile{
            margin-bottom: 0;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                label {
                    img {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        border: 4px solid $sColor;
                    }
                }
                
            }
            span{
                width: 120px;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $lastColor;
                color: $sColor;
                border-radius: 50%;
                border: 4px solid $sColor;
            }
        }
        .userNameInIcon{
            margin: 0 auto;
            margin-top: 0;
            margin-bottom: .5em;
            font-size: 1.5em;
            display: block;
            
        }
        .saveBtn {
            width: 100%;
            background-color: $sColor;
            color: $mainColor;
            border: none;
            font-size: .8em;
            border-radius: 40px;
            margin-bottom: .5em;
            margin-top: 0em;
            padding: .7em 1em;
            cursor: pointer;
        }
        .textProfileData{
            width: 100%;
            max-width: 400px;
            .changeEmailHolder{
                font-size: .9em;
                display: flex;
                
                input {
                    border: 0;
                    outline: 0;
                    background-color: $sColor;
                    font-size: 1em;
                    padding: 0.7em 1em;
                    border-radius: 10px;
                    color: white;
                    margin: .5em;
                    flex-grow: 1;
                    text-align: center;
                    
                }
                button{
                    display: none;
                    border: 0;
                    outline: 0;
                    background-color: $sColor;
                    font-size: 1em;
                    padding: 0.7em 1em;
                    border-radius: 10px;
                    color: white;
                    text-transform: capitalize;
                    margin: .5em;
                    cursor: pointer;
                }
            }
            .infoDivProfile {
                display: flex;
                
                div{
                    background-color: $sColor;
                    margin: .5em;
                    flex-grow: 1;
                    color: $mainColor;
                    font-size: .8em;
                    padding: .8em 1em;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    label:nth-child(2){
                        background-color: $lastColor;
                        flex-grow: 1;
                        text-align: center;
                        color: $sColor;
                        margin: 0 .3em;
                        padding: .2em;
                        border-radius: 10px;
                    }
                    svg{
                        font-size: 1.2em;
                        margin-right: .5em;
                    }
                }
            }
        }
    }
    .navigationFromProfile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        a {
            outline: none;
            border: none;
            background-color: $sColor;
            color: $lastColor;
            font-size: 1em;
            padding: .5em 1em;
            border: 3px solid $sColor;
            margin: .5em .5em;
            border-radius: 50px;
            cursor: pointer;
            width: 200px;
            text-decoration: none;
            text-align: center;
        }
    }
    
}
.shades{
    width: 200px;
    height: 200px;
    background-color: $lastColor;
    display: block;
    position: fixed;
    filter: blur(50px);
    z-index: -2;
}
#shade1{
    top: -2em;
    left: 15em;
}
#shade2{
    bottom: -2em;
    right: -2em;
}
.ChnagePassword , .ChangeProfile {
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    .passwordChangeHolder {
        background-color: $sColor;
        padding: 2em;
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        padding-bottom: .7em;
        div {
            display: flex;
            flex-direction: column;
            font-size: 1.9em;
            width: 100%;
            margin-bottom: 1em;
            label {
                color: $lastColor;
                margin-bottom: .2em;
                padding-left: .1em;
            }
            input {
                outline: none;  
                background-color: $mainColor;
                border: none;
                border-radius: 10px;
                font-size: .5em;
                padding: 1em 1em;
            }
        }
    }
    .navigationFromChange {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        a , button{
            outline: none;
            border: none;
            background-color: $sColor;
            color: $lastColor;
            font-size: 1.3em;
            padding: .5em 1em;
            border: 3px solid $sColor;
            margin: .5em .5em;
            border-radius: 50px;
            cursor: pointer;
            width: 200px;
            text-decoration: none;
            text-align: center;
        }
        button {
            background-color: $lastColor;
            color: $sColor;
        }
    }
    & > h1 {
        font-size: 5em;
        margin: 0;
        margin-top: .3em;
        color: $sColor;
    }
}

.modifyInfosHolder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    background-color: $sColor;
    border-radius: 10px;
    padding: 2em 1.5em;
    margin-top: 1em;
    & > div {
        display: flex;
        width: 100%;
        align-items: center;
        div {
            width: 100%;
            display: flex;
            color: $lastColor;
            margin: .5em;
            align-items: center;
            justify-content: space-between;
            input {
                flex-grow: 1;
                outline: none;  
                background-color: $mainColor;
                border: none;
                border-radius: 10px;
                font-size: .8em;
                padding: 1em 1em;
                margin-left: .5em;
                max-width: 400px;
            }
        }
    }
}